/****** RESET *******/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
  box-sizing: border-box;
}

/* Basics */
.before::before,
.after::after {
  content: "\A";
  white-space: pre;
}

a {
  text-decoration: none;
}


h1 {
  font-family: 'anton';
  font-size: 48px;
}

h2 {
  font-family: 'teko';
  font-size: 24px;
  font-weight: 700;
}

p {
  font-family: 'teko';
  font-size: 24px;
  font-weight: 300;
}

/****** ROOT *******/
body {
  font-family: 'teko', sans-serif;
}

:root {
  --blue: #0074BE;
  --black: #000000;
  --white: #fff;
}

/****** TYPOGRAPHY *******/


/****** Header *******/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 7%;
  padding-right: 7%;
  border-bottom: 1px solid var(--blue);
}

#main_menu ul {
  display: flex;
  flex-direction: row;
}

.logo img{
  height: 69px;
}

/****** SECTIONS *******/




/****** PAGES *******/


/****** FOOTER *******/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  padding-left: 7%;
  padding-right: 7%;
}

footer .logo-white img {
  height: 51px;
  margin-top: 23px;
  margin-bottom: 23px;

}

footer .social-media-icons img {
  height: 32px;
}

footer .social-media-icons a {
  height: 37px;
  color: var(--white);
}

footer .social-media-icons .insta {
  height: 33px;
  width: 33px;
}

footer .social-media-icons .facebook {
  height: 35px;
  width: 36px;
}

footer .impressum a {
  color: var(--white);
}




/******Startseite******/


/* main */
.content {
  width: 86%;
  margin-left: 7%;
  margin-top: 43px;
}




/* Video */
#home-section .video-fcruethi video {
  margin-top: 70px;
  width: 86vw;
  height: auto;
}




/* news */
.news-img img {
  width: 86%;
  margin-left: 7%;
  margin-top: 21px;

}

.news {
  margin-top: 30px;
  margin-left: -8%;
  width: 100vw;
  background-color: var(--blue);
  padding-bottom: 10px;
}

.news-text {
  margin-left: 7%;
  color: var(--white);
  margin-right: 7%;
}

.news-text a{
  color: white;
}


/*********** Tabelle *********/



table {
  font-size: 24px;
  width: 86vw;
  border-collapse: collapse;
}

.table_3_league .labeling-table{
font-weight: 700;

}

.labeling-table .rank{
  text-decoration: none;
  
}

.table-3league {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;

}

table tr th.mannschaft {
  text-align: left;
  padding: 5px;
}

table tr th {
  text-align: center;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}

table tr th.rank{
  text-decoration: 2px underline;
  text-underline-offset: 2px;
}

table tr.table-fcruethi {
  background-color: var(--blue);
  color: var(--white);
}


.button-spielplan {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border: 3px solid var(--blue);
  font-size: 24px;
  font-weight: 300;
  padding: 5px;
}

a.button-spielplan {
  color: var(--blue);
  font-size: 24px;
  font-weight: 300;
}


/********* Mannschaften *********/
#mannschaften {
  margin-left: 7%;
  margin-top: 45px;
  margin-bottom: 65px;
}

.team-photo img {
  width: 86vw;
  margin-top: 65px;
}

.team p {
  display: flex;
  justify-content: center;
  margin-left: -7%;
}




/********* Kontakt **********/

.form-section {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 45px;
  width: 86%;
}

form.input {
  margin-top: 53px;
}

.input label {
  font-size: 24px;
}

.input input {
  border: 1px solid var(--blue);
  width: 86vw;
  height: 48px;
  margin-bottom: 20px;
}

.input-text textarea {
  border: 1px solid var(--blue);
  width: 86vw;
}


form.input p {
  width: 86vw;
  margin-top: -6px;
  margin-bottom: 43px;
}

form .button input {
  background-color: var(--blue);
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 66px;
}





/***** Impressum ********/
main.impressum {
  margin-left: 7%;
  margin-top: 45px;
}

.impressum-informations h2 {
  margin-top: 72px;
  margin-bottom: 42px;
}

.impressum-informations p {
  margin-bottom: 72px;
}

.quelle-media h2 {
  margin-bottom: 42px;
}

.quelle-media{
  margin-bottom: 120px;
}


.quelle-media p {
  color: var(--blue);
  text-decoration: underline var(--blue);
}

.impressum-underline{
  text-decoration: 2px underline var(--white);
}








/**** Mobile ****/
@media screen and (max-width:768px) {
  #main_menu ul {
    display: none;
  }

  .nav-burger svg {
    width: 40px;
    height: 40px;
  }


  .nav-burger {
    background: none;
    border: none;
  }

  .nav-burger.open {
    display: block;
    color: var(--blue);
  }

  .nav-burger.close {
    display: none;
    color: var(--white);
    z-index: 1;
  }


  #main_menu.expanded ul {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 35vh;
    z-index: 1;
  }

  #main_menu.expanded ul li a {
    font-size: 24px;
    font-weight: 300;
    color: var(--white);
  }



  nav.expanded .nav-burger.open {
    display: none;
  }


  nav.expanded .nav-burger.close {
    display: block;
    position: relative;
    z-index: 1;
  }
}

























/****** MEDIA QUERIES *******/
/****** All Tablet-Screens 768-1199px *******/
@media screen and (min-width: 768px) {
  /****** Tablet spezifischer Code *******/

/* Basics tablet */
h1 {
  font-family: 'anton';
  font-size: 64px;
}

h2{
  font-size: 32px;
}
a{
  font-size: 24px;
  font-weight: 300;
}



/* header *******/
.nav-burger{
  display: none;
}

#main_menu ul{
list-style-type: none;
}

#main_menu ul li{
margin-left: 10px;
}


#main_menu ul li a{
color: black;
}

.logo img{
  height: 69px;
}

#main_menu ul li a.main-nav-blue{
  color: var(--blue);
  text-decoration: underline var(--blue);
  text-underline-offset: 3px;
}

/* Mannschaften *******/

.teams-fcruethi{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
  margin-right: 7%;
}

.team-photo img{
 max-width: 100%;

}






}

/****** All Desktop-Screens 1200- *******/
@media screen and (min-width: 1200px) {
  /****** Desktop spezifischer Code *******/

h1 {
  font-size: 80px;
  
}

h2{
  font-size: 32px;
}
p{
  font-size: 32px;
}

a {
  font-size: 28px;
}


/* News ******/
.news{
  display: flex;
  flex-direction: row;

}
.news-img img{
  width: 600px;
 height: 620px;
 margin-left: 7%;
 margin-top: 35px;
 margin-bottom: 35px;

}

.news-text h2{
  margin-top: 33px;
}


/* Mannschaften **/


.teams-fcruethi{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 14px;
  margin-right: 7%;
}

.team-photo img{
 max-width: 100%;

}
















}
